body {
  background-color: dimgray;
  user-select: none;
}

header {
  text-align: center;
}

/*      ----    POSTS    ----        */

/* #create-post-input-container {
  display: grid;
  grid-template-columns: auto auto;
  gap: 4px;
  background-color: rgba(140, 134, 134, 0.574);
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px black solid;
  width: 350px;
} */

dialog {
  background-color: rgba(120, 107, 107, 0.899);
}

#create-new-post-dialog {
  position: absolute;
  width: 600px;
  height: 300px;
}

#create-new-post-form {
  display: grid;
  grid-template-columns: auto auto;
}

#create-post-btn {
  display: grid;
  width: 120px;
  height: 50px;
  margin: 5px;
  background-color: rgba(215, 179, 179, 0.679);
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  margin-bottom: 50px;
}

#delete-post-dialog {
  position: absolute;
  width: 450px;
  height: 250px;
}

#posts-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  background-color: rgba(240, 248, 255, 0.238);
  width: 90vw;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
}

#post {
  display: grid;
  grid-template-columns: auto;
  background-color: rgba(185, 176, 176, 0.322);
  margin: 8px;
  padding: 5px;
  place-content: center;
}

#post:hover {
  background-color: rgba(185, 176, 176, 0.645);
}

#post-image > img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#post-title {
  position: relative;
  font-family: fantasy;
  font-size: large;
  text-align: center;
}

#post-body {
  position: relative;
  font-style: italic;
  text-align: center;
}

#buttons {
  display: grid;
  grid-template-columns: auto auto;
  gap: 10%;
  margin: auto;
}

/*      ----    USER    ----        */

#users-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 4px;
  background-color: rgba(240, 248, 255, 0.238);
  width: 90vw;
  padding: 18px;
  margin-left: auto;
  margin-right: auto;
}

#user {
  display: grid;
  grid-template-columns: auto;
  background-color: rgba(185, 176, 176, 0.322);
  margin: 8px;
  padding: 5px;
  place-content: center;
}

#user:hover {
  background-color: rgba(185, 176, 176, 0.626);
}

#user-image > img {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  max-height: 100%;
}

#user-title {
  position: relative;
  font-family: fantasy;
  font-size: large;
  text-align: center;
}

#user-body {
  position: relative;
  font-style: italic;
  text-align: center;
}

button {
  background-color: gainsboro;
}
