body {
    background-color: dimgray;
    user-select: none;
}

header {
    text-align: center;
}

#posts-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 4px;
    background-color: rgba(240, 248, 255, 0.238);
    width: 90vw;
    padding: 18px;
    margin-left: auto;
    margin-right: auto;
}

#post {
    display: flex;
    background-color: rgba(245, 245, 245, 0.527);
    margin: 8px;
    padding: 5px;
    justify-content: center;
}

#post-image {
    position: relative;
}

#post-title {
    font-style: italic;
    text-align: center;
}